.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
}
.c-left-certificate {
  background: #ffffff;
  position: fixed;
  width: 495px;
  height: 100vh;
}
.row-certificate {
  background: #f4f4f4;
  min-height: calc(100vh - 80px);
}
.cleft-container {
  padding: 15px;
  padding-top: 20px;
  background: #ffffff;
  position: relative;
  height: 100%;
}
.search-input {
  position: relative;
}
.search-input input {
  height: 54px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 15px;
}
.search-input input:focus {
  box-shadow: none !important;
}
.search-input .ico,
.search-input .ico:focus,
.search-input .ico:active {
  width: 50px;
  text-align: center;
  position: absolute;
  top: 8px;
  font-size: 19px;
  right: 5px;
  cursor: pointer;
  color: #329945 !important;
  background: none;
  background-color: #ffffff !important;
  border: none;
}
.search-input input:focus {
  box-shadow: none;
  border-color: #329945;
}
.search-input .form-control.is-invalid,
.was-validated .form-control:invalid,
.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: none;
}

.tab-search-result {
  display: flex;
}
.tab-search-result .nav-pills {
  width: 100% !important;
  margin: 0;
  border-bottom: 1px solid #dddddd;
}
.tab-search-result .nav-item {
  padding: 0px 5px;
}

.tab-search-result .nav-item a {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  padding: 10px 5px;
  color: #777777;
  border-radius: 0px;
  display: block;
}
.tab-search-result .nav-item .nav-link.active {
  color: #329945;
  background-color: #fff;
  font-weight: bold;
  border-bottom: 2px solid #329945;
}

.cer-docs {
  margin-top: 10px;
}
.cer-docs ul {
  list-style: none;
  padding: 0;
}
.cer-docs ul li i {
  color: #329945;
}
.cer-docs ul li .docname {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #232323;
  margin-left: 20px;
  transition: color 0.2s;
  text-decoration: none;
}
.cer-docs .icon-group {
  position: relative;
  width: 9px;
}
.cer-docs ul li .fa-file-download {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.2s;
}
.cer-docs ul li .fa-file-alt {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: all 0.2s;
}
.cer-docs ul li:hover .fa-file-download {
  opacity: 1;
}
.cer-docs ul li:hover .fa-file-alt {
  opacity: 0;
}
.cer-docs ul li:hover div {
  color: #329945;
}
.cer-docs ul li {
  display: flex;
  padding: 10px 0px;
  cursor: pointer;
}

.scroll-div {
  overflow-x: hidden;
  height: calc(100vh - 260px);
}
.promo-banner {
  margin-top: 10px;
  margin-bottom: 90px;
}
.promo-banner .viewmore {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-decoration-line: underline;
  text-align: center;
  cursor: pointer;
  color: #329945;
}
.promo-banner img {
  width: 100%;
  height: auto;
}

.certificate-result {
  /* border: 1px solid #dddddd; */
  border-radius: 6px;
  /* margin-top: 20px; */
}
.certificate-result .ahewader {
  background: #f0fef5;
  border-radius: 5px 5px 0px 0px;
  padding: 15px;
  display: flex;
  position: relative;
}
.certificate-result .hdi-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #ebdcbb;
  background: #ffffff;
  text-align: center;
  padding-top: 6px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.certificate-result .sjtitle {
  line-height: 40px;
  margin-left: 10px;
  margin-left: 50px;
}
.certificate-result .sjtitle .gcn-num {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #777777;
}
.certificate-result .sjtitle .gcn-id {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #212121;
  padding-left: 10px;
}
.certificate-result .result-body {
  padding: 15px;
}
.certificate-result .result-body .rs-row {
  display: flex;
  padding: 5px 0px;
}
.certificate-result .result-body .rs-row .value {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #212121;
  padding-left: 10px;
}
.certificate-result .rs-row .name {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #777777;
}
.certificate-result .rs-row .value-status {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #329945;
  padding-left: 10px;
}


.rs-menu {
  margin-top: 20px;
}
.rs-menu .menu-btn {
  cursor: pointer;
}
.rs-menu .menu-btn .bg1 {
  background: #329945;
  color: #fff;
}
.rs-menu .menu-btn .bg2 {
  background: #e4fbe8;
  color: #329945;
}
.rs-menu .menu-btn .bg3 {
  background: #ffffff;
  border: 1px solid #dddddd;
  color: #da2128;
}
.rs-menu .menu-btn .circle-btn {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
}
.rs-menu .menu-btn p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #777777;
  margin-top: 5px;
}
.div-save-qr {
  text-align: center;
  margin-top: 10px;
}

.cer-qr {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}
.cer-qr .img-qr {
  text-align: center;
  padding: 20px;
}
.cer-qr .img-qr img {
  width: 45%;
}
.cer-qr .btn-save-qr {
  background: #329945;
  border-radius: 100px;
  border: none;
  margin: 0 auto;
  padding: 8px 15px;
}
.cer-qr .btn-save-qr:active {
  background: #29843a !important;
  background-color: #29843a !important;
}

.footer-xslide .red-bold {
  color: #ff2929;
  font-weight: 600;
}
.footer-xslide {
  position: absolute;
  background: #ffffff;
  border-top: 1px solid #dddddd;
  z-index: 9999;
  left: 0;
  width: 100%;
  bottom: 50px;
}
.footer-xslide p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #777777;
  line-height: 55px;
  padding-bottom: 15px;
}

.c-right-div {
  margin-left: 498px;
}

.cer-content {
  padding: 15px;
}
.cer-content .gcn-title1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #212121;
}
.cer-content .gcn-title2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #777777;
}
.gcn-title2 p {
  display: flex;
}
.gcn-title2 .mobile {
  display: none;
}
.cer-content .gcn-title2 span {
  color: #329945;
  font-weight: 700;
  margin-left: 5px;
}
.cer-content .content-action-group {
  display: flex;
  float: right;
}
.cer-content .content-action-group .circle-button {
  width: 44px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
  color: #329945;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.2s;
}
.cer-content .content-action-group .circle-button p {
  display: none;
}
.cer-content .content-action-group .circle-button:hover {
  border-color: #268838;
}
.cer-content .content-action-group .view-render-gcn {
  background: #329945;
  border-radius: 100px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  border: none;
  padding: 0px 20px;
}
.cer-content .content-action-group .view-render-gcn:active {
  background: #268838;
}
.top-content {
  border-bottom: 1px solid #ddd;
}

.doc-con {
  position: relative;
}
.doc-con .page-name-counter {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 40px;
  color: #fff;
  position: absolute;
  bottom: 15px;
  padding: 6px 15px;
  left: 50%;
  opacity: 0.8;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.pp-page {
  margin-bottom: 20px;
  margin-top: 20px;
}

.pdf-btn-group .pdf-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #616161;
  text-align: center;
  background: #ffffff;
  margin-bottom: 15px;
  padding-top: 9px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.pdf-btn-group .pdf-btn:hover {
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.12);
  transform: translateX(-3px);
}
.pdf-btn-group {
  position: absolute;
  right: 15px;
  bottom: 50px;
}
.doc-scroll {
  overflow: scroll;
}


.document-content-container .react-pdf__Page__canvas {
  margin: 0 auto;
}
.document-content-container{
  display: flex;
  justify-content: center;
}

/*.react-pdf__Document{
	height: 400px;
	overflow: scroll;
}
*/

.bottom-sheet-actor {
  display: none;
}

.search-default-frame {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
.search-default-frame p,
.search-mobile-v p {
  margin-top: 30px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal !important;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #777777 !important;
}
.empty-docu {
  width: 100%;
  height: calc(100vh - 190px);
  position: relative;
}
.empty-docu .empty-docu-container {
  background: #191919;
  opacity: 0.8;
  border-radius: 10px;
  text-align: center;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.empty-docu img {
  margin-bottom: 50px;
}
.empty-docu p {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0;
}
.mh-hide-div {
  display: none !important;
}

/*REPONSIVE REPONSIVE REPONSIVE REPONSIVE*/
.search-mobile-v {
  padding-top: 15px;
}
.header-r-menu .dropdown-item.active,
.header-r-menu .dropdown-item:active {
  background-color: #e7fcee;
  display: flex;
}
.header-r-menu .drop-item-mn {
  display: flex;
}
.header-r-menu .dropdown-item {
  padding: 0.8rem 0.9rem !important;
}
.dropdown-menu .show {
  padding: 0;
}
.header-r-menu .drop-item-mn .text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #212121;
  width: 154px;
  padding-left: 10px;
}
.drop-item-mn .fa-check-circle {
  color: #329945;
}

/* kitin khanh */
.kt-search {
  width: 100%;
  height: 54px;
  margin: auto;
}
.kt-search-detail {
  width: 100%;
  margin: auto;
  height: 100%;
}

.kt-search {
  display: flex;
}

.kt-search .nav-pills {
  width: 100% !important;
  margin: 0;
  border: 1px solid #dddddd;
  border-radius: 10px;
  background-color: white;
}
.kt-search .nav-item a {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  padding: 10px 5px;
  color: #777777;
  display: block;
}
.kt-search .nav-item .nav-link {
  display: flex;
  justify-content: center;
  height: 100%;
}

.kt-search .nav-item .nav-link.active {
  color: #329945;
  background-color: #d9ffe6;
  font-weight: bold;
  height: 100%;
}

.round {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  position: absolute;
  top: 0;
  width: 18px;
  left: -12px;
}

.round label:after {
  border: 2.5px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 5px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 4px;
  transform: rotate(-45deg);
  width: 10px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
  left: -12px;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
.form-control:focus{
	box-shadow: none;
}
.btn-search-kt {
  width: 100%;
  height: 54px;
  background: #DA2128;
  border-radius: 10px;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-search-kt {
  padding-right: 10px;
}
.icon-search-kt:hover:focus:active {
  background-color: #DA2128 !important;
  border-color: #DA2128 !important;
}

.modal .modal-content{
  overflow:hidden;
  height: 560px;
}
.modal-body{
  overflow-y:scroll;
}

.cer-result-kitin {
  position: relative;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 20px;
  box-shadow: 0 4px 20px rgb(149 185 193 / 20%);
}
/* .cer-result-kitin:hover {
  border: 1px solid #dddddd;
} */
.cer-result-kitin .result-kitin-detail {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  background-color: #329945;
  background: #329945;
  color: white !important;
}
.cer-result-kitin:hover .certificate-result {
  -webkit-filter: blur(1.7px);
} 
.cer-result-kitin:hover .result-kitin-detail {
  display: block;
}
.result-hqk-certificate {
  margin-top: 20px;
  border-radius: 6px;
  border: 1px solid #dddddd;
}
.modal-body::-webkit-scrollbar-track
{
	background-color: #fff;
}

.modal-body::-webkit-scrollbar
{
	width: 6px;
	background-color: #fff;
}
.modal-body::-webkit-scrollbar-thumb
{
	background-color: #C4C4C4;
}
.style_loading_cert {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.Popover.Popover-below {
  z-index: 9999999 !important;
}
.btn-bill-request {
  width: 100%;
  background: linear-gradient(0deg, rgba(218, 33, 40, 0.1), rgba(218, 33, 40, 0.1)), #FFFFFF;
  border: unset;
  height: 44px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #DA2128;
  text-shadow: 0px 4px 4px rgb(0 0 0/ 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.footer-modal-request{
  margin-top: 16px;
  text-align: center;
}
.btn-request-invoice {
  width: 221px;
  height: 44px;
  background: #329945;
  border-radius: 40px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.request-hotline{
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-decoration-line: underline;
  color: #329945;
}
.rq_rd_group {
  display: flex;
}
.rq_rd_group .sp-hoz {
  width: 24px;
}
.rq_rd_group .radio {
  margin-top: 5px;
}
.rq_rd_group label {
  margin-left: 8px;
}
.dv-confirm{
  text-align: center;
}
.txt-repeat{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #777777;
  margin-top: 16px;
}
.txt-repeat label{
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  margin-left: 4px;
  text-decoration-line: underline;
  color: #DA2128;
  cursor: pointer;
}

.form_confirm_success{
  text-align: center;
}

.txt_title_success{
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #212121;
  margin-top: 19px;
}
.txt_content_success{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
}
.txt_content_success span {
  font-weight: bold;
  color: #212121;
}
.close_form_success{
  width: 177px;
  height: 44px;
  background: rgba(50, 153, 69, 0.1);
  border-radius: 60px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #329945;
  padding-top: 10px;
  margin: 0 auto;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  .cleft-container {
    height: auto;
  }
  .cer-content {
    padding-top: 0px;
  }
  .c-left-certificate {
    width: 100% !important;
    position: initial !important;
  }
  .c-right-div {
    margin: 0;
  }
  .top-content {
    background: #329945;
    padding: 10px 0px;
  }
  .view-render-gcn {
    display: none;
  }
  .gcn-title1 {
    display: none;
  }
  .gcn-title2 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold !important;
    font-size: 14px;
    line-height: 21px !important;
    color: #ffffff !important;
  }
  .gcn-title2 span {
    color: #ffffff !important;
    margin-left: 0px !important;
  }
  .gcn-title2 p {
    margin-bottom: 0px;
    display: block;
  }
  .gcn-title2 p div {
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
  }
  .gcn-title2 .web {
    display: none;
  }
  .gcn-title2 .mobile {
    display: block;
  }
  .circle-button.print {
    display: none;
  }
  .cer-content .content-action-group .circle-button p {
    display: block;
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 0;
  }
  .cer-content .content-action-group .circle-button {
    background: none;
    color: #ffffff;
    border: none;
    width: 50%;
    height: auto;
    padding: 0px 3px;
    margin-right: 0px;
    border-radius: 0;
    border-left: 1px solid #ffffff;
  }
  .cer-content .content-action-group {
    width: 100%;
  }
  .x3ax {
    padding: 0;
  }
  .doc-scroll {
    height: 560px;
  }
  .page-name-counter {
    display: none;
  }
  .bottom-sheet-actor {
    display: block;
    padding: 10px 15px;
    background: #329945;
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    width: 100%;
    position: fixed;
    bottom: -14px;
    height: 65px;
  }
  .bottom-sheet-actor p {
    margin: 0;
  }
  .tab-search-result .nav-item a {
    font-size: 12px;
  }
  .react-modal-sheet-content {
    overflow: scroll;
    touch-action: auto !important;
  }
  .certificate-result .sjtitle .gcn-num,
  .certificate-result .sjtitle .gcn-id,
  .rs-menu .menu-btn p,
  .cer-docs ul li div,
  .promo-banner .viewmore {
    font-size: 12px;
  }
  .certificate-result .hdi-icon {
    width: 32px;
    height: 32px;
  }
  .certificate-result .hdi-icon {
    padding-top: 1px;
  }
  .certificate-result .ahewader {
    padding: 10px 15px;
  }
  .certificate-result .sjtitle {
    margin-left: 38px;
  }

  .round div {
	font-size: 14px;
  }

  .round label {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	cursor: pointer;
	height: 18px;
	position: absolute;
	top: 0;
	width: 18px;
	left: -10px;
  }
  .round input[type="checkbox"]:checked + label {
	background-color: #66bb6a;
	border-color: #66bb6a;
	left: -10px;
  }
  .document-content-container {
    display: block;
  }
  .footer-xslide {
    bottom: -65px;
  }
}

@media only screen and (max-width: 320px) {
	.round input, label {
		display: none;
	}
	.round-two input, label {
		display: none;
	}
}

.modal.fade {
  z-index: 10000000 !important;
}
