/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v14/XRXV3I6Li01BKofIOOaBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v14/XRXV3I6Li01BKofIMeaBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v14/XRXV3I6Li01BKofIOuaBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v14/XRXV3I6Li01BKofIO-aBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v14/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.btn.focus, .btn:focus{
  box-shadow:none!important;
}
*:focus {
    outline: none;
}
button:focus {outline:0;}
.bg-light-hdi{
  background: #FFFFFF;
  height: 80px;
}
input[type="button"]{
   outline:none;
}
input[type="button"]::-moz-focus-inner {
   border: 0;
}
.navbar-light-hdi{
  padding-left: 35px;
  padding-right: 35px;
  border-bottom: 1px solid #EEEEEE;
}
.title-header{
  text-transform: uppercase;
    color: #329945;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
}
.title-header-placholder{
  width: 100%;
}
.title-header{
  width: 100%;
    text-align: center;
}
.header-r-menu{
  display: flex;
}

.btn-dropdown-lang .dropdown-toggle{
  background: #ffffff!important;
    border: none;
    color: #329945;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}
.btn-dropdown-lang .dropdown-toggle:hover{
  color: #208033;
}
.btn-dropdown-lang .dropdown-toggle i{
  margin-right: 5px;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow:none!important;
}
/*.btn-dropdown-lang .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #329945;
    background-color: #E7FCEE!important;
    border-color: #005cbf;
}*/
.help-menu-text:hover{
  color: #e67e22;
}
.help-menu-text{
  background: none!important;
    border: none;
    color: #329945;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.help-menu-text div{
  min-width: 80px;
}
.help-menu-text div i{
  margin-right: 5px;
}

.header-r-menu .btn-dropdown-lang .btn-primary:not(:disabled):not(.disabled).active, .header-r-menu .btn-primary:not(:disabled):not(.disabled):active, .header-r-menu .show>.btn-primary.dropdown-toggle{
    color: #329945!important;
    background-color: #E7FCEE!important;
    border-radius: 15px;
}

.dlhide{
  display: none!important;
}




