.title-header-mobile{
	display: none;
}
.ticket{
	margin-bottom: 30px;
}
.m-head-produc{
	margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
	/* For mobile phones: */
	.banner .app-dive-text{
		display: none;
	}
	.btn-download-group{
		margin-bottom: 50px;
		direction: rtl;
	}
	.banner h1, .banner h2, .banner p{
		text-align: center;
		font-size: 16px;
	}
	.child-bg .col-md-6{
		text-align: center;
	}
	.banner{
		background: linear-gradient(180deg, #5BBD6F 0%, #329945 100%)
	}
	.col-ssm-6{
		width: 50%;
		padding-right: 10px;
    	padding-left: 10px;
	}
	.pc-item .center-vertically span{
		font-size: 10px;
		text-align: left;
	}
	.pg-container .h5-title{
		font-size: 16px;
	}
	.select-payment-text{
		font-size: 14px;
	}
	
	.banner h2{
		margin-bottom: 29px!important;
	}
	.footer{
		padding: 20px 0;
	}
	.footer p{
		font-size: 14px;
		line-height: 14px;
		text-align: center;
	}
	.banner h1, .banner h2{
		font-size: 20px;
		margin-bottom: 0;
		line-height: 29px;
	}
	.footer .right{
		display: block;
		margin-top: 10px;
    	margin-bottom: 20px;
	}
	.footer .right p:first-child{
		margin: 0;
		margin-bottom: 10px;
	}
	.footer .right{
		line-height: 20px;
	}
	.pi-header{
		font-size: 14px;
	}
	.pi-body .l-left, .pi-body .l-right{
		font-size: 14px;
	}
	.pi-body .l-left{
		min-width: 134px;
	}
	.title-header{
		font-size: 14px;
		display: none;
	}
	.navbar-toggler-icon{
		color: #329945;
	}
	.navbar-light-hdi{
		padding-left: 15px;
    	padding-right: 0;
	}
	.title-header-mobile{
		display: block;
		text-transform: uppercase;
	    color: #329945;
	    font-family: Nunito;
	    font-weight: bold;
	    font-size: 14px;
	    font-style: normal;
	    position: absolute;
	    left: 89px;
	    height: 42px;
	}
	.footer .row{
		margin: 0!important;
	}
	.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  transition: color 0.2s;
  font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
	color: #212121;
	border-bottom: 1px solid #ddd;
	padding-bottom: 7px;
}
.bm-item img{
	margin-right: 10px;
}
.bm-menu-wrap{
	top: 0px;
}
/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  padding: 15px 15px 0;
  font-size: 1.15em;
}
.btn-close-menu{
	position: absolute;
    right: 10px;
    top: 11px;
    color: #a5b9b9;
    padding: 9px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}

.navbar-toggler{
	position: absolute;
    right: 0;
}
.bm-cross-button{
	top: 20px;
}
.qr-app{
	width: 118px!important;
	height: 118px!important;
	margin-left: 15px;
}
.app-download .btn-download-group img{
	width: 120px!important;
	height: 43.5px!important;
	margin-right: 15px;
}
.btn-download-group{
	width: 50%;
	padding-top: 5px;
}
.products .product-item{
	margin-bottom: 30px;
}
.error-frame img{
	width: 100%;
}
.more-product{
	padding: 5px 20px 50px;
}
.tr{
	text-align: center;
}
.tl{
	text-align: center;
	margin-top: 35px;
}

}
